**QUESTION 1**: Alice has some cards with numbers written on them. She arranges the cards in decreasing order, and lays them out face down in a sequence on a table. She challenges Bob to pick out the card containing a given number by turning over as few cards as possible. Write a function to help Bob locate the card.
![image.png]()

Here's a systematic strategy we'll apply for solving problems:



1.   State the problem clearly. Identify the input & output formats.
2.   Come up with some example inputs & outputs. Try to cover all edge cases.
3.   Come up with a correct solution for the problem. State it in plain English.
4.   Implement the solution and test it using example inputs. Fix bugs, if any.
5.   Analyze the algorithm's complexity and identify inefficiencies, if any.
6.   Apply the right technique to overcome the inefficiency. Repeat steps 3 to 6

We need to write a program to find the position of a given number in a list of numbers arranged in decreasing order. We also need to minimize the number of times we access elements from the list.

**Input**
1. cards: A list of numbers sorted in decreasing order. E.g. [13, 11, 10, 7, 4, 3, 1, 0]
2. query: A number, whose position in the array is to be determined. E.g. 7
**Output**
position: The position of query in the list cards. E.g. 3 in the above case (counting from 0)

In [3]:
# TEMPLATES TO FOLLOW
# 1. CREATE A SIGNATURE OF THE FUNCTION
def locate_cards(cards, query):
  pass

In [4]:
# 2. SOME EXAMPLES INPUTS AND OUTPUTS
cards = [13, 11, 10, 7, 4, 3, 1, 0]
query = 7
output = 3

In [5]:
# 3. TEST OUR FUNCTION BY PASSING THE INPUTS INTO FUNCTION AND COMPARING THE RESULT WITH EXPECTED OUTPUT
result = locate_cards(cards, query)
print(result)

None

In [7]:
# 4. COMPARING EXPECTED OUTPUT VS RESULT 
result == output

False

In [69]:
# 5.REPRESENTING TEST CASES USING A DICTIONERY
test = {
    'input': {
        'cards' : [13, 11, 10, 7, 4, 3, 1, 0],
        'query' : 7
    },
    'output' : 3
}

In [70]:
# 6.THE FUNCTION CAN BE TESTED AS FOLLOWS
# locate_cards(test['input']['cards'], test['input']['query']) == test['output'] 
locate_cards(**test['input']) == test['output']             # ** will take keys of dictionaries and pass values as an arguments

True

In [71]:
# 7. CREATING TEST CASES AND STORE IT IN A LIST
tests = []

In [72]:
# QUERY OCCURS IN THE MIDDLE
tests.append(test)
tests.append({
    'input': {
        'cards' : [13, 11, 10, 7, 4, 3, 1, 0],
        'query' : 1
    },
    'output' : 6
})

In [73]:
# QUERY IS THE FIRST ELEMENT
tests.append({
    'input' : {
        'cards' : [4, 2, 1, -1],
        'query' : 4
    },
    'output' : 0
})

In [74]:
# IF THE CARDS DOESN'T CONTAIN ANY QUERY RETURN -1 
tests.append({
    'input': {
        'cards': [9, 7, 5, 2, -9],
        'query': 4
    },
    'output': -1
})

In [75]:
# IF THE CARDS IS EMPTY, RETURN -1
tests.append({
    'input' : {
        'cards' : [],
        'query' : 7
    },
    'output' : -1
})

In [76]:
# NUMBERS CAN BE REPEAT
tests.append({
    'input': {
        'cards': [8, 8, 6, 6, 6, 6, 6, 3, 2, 2, 2, 0, 0, 0],
        'query': 3
    },
    'output': 7
})

In [77]:
# QUERY OCCURS MULTIPLE TIMES
tests.append({
    'input': {
        'cards': [8, 8, 6, 6, 6, 6, 6, 6, 3, 2, 2, 2, 0, 0, 0],
        'query': 6
    },
    'output': 2
})

In [78]:
# LETS SEE THE TESTS
tests

[{'input': {'cards': [13, 11, 10, 7, 4, 3, 1, 0], 'query': 7}, 'output': 3},
 {'input': {'cards': [13, 11, 10, 7, 4, 3, 1, 0], 'query': 1}, 'output': 6},
 {'input': {'cards': [4, 2, 1, -1], 'query': 4}, 'output': 0},
 {'input': {'cards': [9, 7, 5, 2, -9], 'query': 4}, 'output': -1},
 {'input': {'cards': [], 'query': 7}, 'output': -1},
 {'input': {'cards': [8, 8, 6, 6, 6, 6, 6, 3, 2, 2, 2, 0, 0, 0], 'query': 3},
  'output': 7},
 {'input': {'cards': [8, 8, 6, 6, 6, 6, 6, 6, 3, 2, 2, 2, 0, 0, 0],
   'query': 6},
  'output': 2}]

In [79]:
# IMPLEMENT THE FUNCTION
def locate_cards(cards, query):
  # create a variable position with the value 0
  position = 0

  # set up a loop for repeatition
  while True:
    # Check if element are the current position match the query
    if cards[position] == query:

      # Answer found! return and exit
      return position
    # increment the position
    position += 1

    # Check if end of the array
    if position == len(cards):
      # number not found
      return -1

In [80]:
test

{'input': {'cards': [13, 11, 10, 7, 4, 3, 1, 0], 'query': 7}, 'output': 3}

In [81]:
# test the first case we had created
result = locate_cards(**test['input'])

In [82]:
result == output

True

In [55]:
# LET US CHECK ALL THE TEST CASES FOR THE ABOVE FUNCTION
# !pip install jovian --upgrade --quiet

In [85]:
from jovian.pythondsa import evaluate_test_cases

In [86]:
evaluate_test_cases(locate_cards,tests)

TEST CASE #0

Input:
{'cards': [13, 11, 10, 7, 4, 3, 1, 0], 'query': 7}

Expected Output:
3


Actual Output:
3

Execution Time:
0.007 ms

Test Result:
PASSED


TEST CASE #1

Input:
{'cards': [13, 11, 10, 7, 4, 3, 1, 0], 'query': 1}

Expected Output:
6


Actual Output:
6

Execution Time:
0.006 ms

Test Result:
PASSED


TEST CASE #2

Input:
{'cards': [4, 2, 1, -1], 'query': 4}

Expected Output:
0


Actual Output:
0

Execution Time:
0.002 ms

Test Result:
PASSED


TEST CASE #3

Input:
{'cards': [9, 7, 5, 2, -9], 'query': 4}

Expected Output:
-1


Actual Output:
-1

Execution Time:
0.004 ms

Test Result:
PASSED


TEST CASE #4

IndexError: ignored

In [87]:
# SEEMS TEST 4 NOT WORKING
# REFINING THE FUNCTION
def locate_cards(cards, query):
  position = 0
  while position < len(cards):
    if cards[position] == query:
      return position
    position += 1
  return -1

In [88]:
evaluate_test_cases(locate_cards,tests)

TEST CASE #0

Input:
{'cards': [13, 11, 10, 7, 4, 3, 1, 0], 'query': 7}

Expected Output:
3


Actual Output:
3

Execution Time:
0.007 ms

Test Result:
PASSED


TEST CASE #1

Input:
{'cards': [13, 11, 10, 7, 4, 3, 1, 0], 'query': 1}

Expected Output:
6


Actual Output:
6

Execution Time:
0.005 ms

Test Result:
PASSED


TEST CASE #2

Input:
{'cards': [4, 2, 1, -1], 'query': 4}

Expected Output:
0


Actual Output:
0

Execution Time:
0.003 ms

Test Result:
PASSED


TEST CASE #3

Input:
{'cards': [9, 7, 5, 2, -9], 'query': 4}

Expected Output:
-1


Actual Output:
-1

Execution Time:
0.005 ms

Test Result:
PASSED


TEST CASE #4

Input:
{'cards': [], 'query': 7}

Expected Output:
-1


Actual Output:
-1

Execution Time:
0.002 ms

Test Result:
PASSED


TEST CASE #5

Input:
{'cards': [8, 8, 6, 6, 6, 6, 6, 3, 2, 2, 2, 0, 0, 0], 'query': 3}

Expected Output:
7


Actual Output:
7

Execution Time:
0.005 ms

Test Result:
PASSED


TEST CASE #6

Input:
{'cards': [8, 8, 6, 6, 6, 6, 6, 6, 3, 2, 2, 2, 0, 0, 0], 'query': 6}

Expected Output:
2


Actual Output:
2

Execution Time:
0.003 ms

Test Result:
PASSED


SUMMARY

TOTAL: 7, PASSED: 7, FAILED: 0

[(3, True, 0.007),
 (6, True, 0.005),
 (0, True, 0.003),
 (-1, True, 0.005),
 (-1, True, 0.002),
 (7, True, 0.005),
 (2, True, 0.003)]